.pp input, textarea{
    width: 100%;
    background: #535353;
}
.pp input::placeholder{
color: white;
padding-left: 5px;
}
.pp textarea::placeholder{
    color: white;
    padding-left: 5px;
    }

    form{
        width: 100%;
    }

    @media (min-width:1100px) {
        .big, .pp{
            width: 45%;
        }
        .pp input{
            height: 40px;
        }
        .pp input::placeholder{
           font-size: 20px;
            }
            .pp textarea::placeholder{
                font-size: 20px;
                }

    }
    
